
/* global */


h1, h2, h3, h4 {
  font-family: 'Love Ya Like A Sister', cursive;
}

/* colors */
$theme-colors: (
    "dark": #000,
    "primary": $color-primary,
    "success":$color-news,

);


/* fonts */
$font-sizes: (
  1: $h1-font-size,
  2: $h2-font-size,
);


/* sizes */
$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * .5,
  2: $spacer * 1,
  3: $spacer * 2,
  4: $spacer * 3,
  5: $spacer * 10,
);


$card-border-width:0px;

